body{
    font-family: 'Roboto', sans-serif;
}

.titulo {
    padding: 10px 0px;
}

.without-margin-bottom {
    margin-bottom: 0px;
}

.margin-32 {
    margin-left:32px;
    margin-right:32px;
}

.margin-top-42 {
    margin-top: 42px;
}

.navbar-20-fs {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

Add commentMore actions
.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-48 {
    font-size: 48px;
}

nav {
    background:#031F1D;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-bottom: #ffc107 2px solid;
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 48px;
}

.fundo-cinza {
    background-color: #D9D9D9;
}

.fundo-verde {
    background-color:#031F1D;
}

.card {
    border-radius: 0 !important;
}

.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: transparent !important;
}

.pading-32{
    padding: 32px;
}

footer {
  background-color: #031F1D;
  margin-bottom: 0;
}